.dashboard {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.leftColumn {
  min-width: 20%;
  margin-right: 16px;
}

.rightColumn {
  width: calc(80% - 16px);
  max-width: calc(80% - 16px);
}

@media screen and (max-width: 600px) {
  .dashboard {
    margin-top: 16px;
    flex-direction: column-reverse;
  }
}
