{
  "plugins": [
    "react"
  ],
  "rules": {
    "linebreak-style": "off",
    "no-use-before-define": "off",
    "react/sort-comp": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "minProperties": 10,
          "multiline": true,
          "consistent": true
        },
        "ObjectPattern": {
          "minProperties": 10,
          "multiline": true,
          "consistent": true
        }
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [ "Link" ],
        "specialLink": [ "to" ]
      }
    ]
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": false,
    "require": false,
    "describe": false,
    "test": false,
    "expect": false,
    "beforeEach": false,
    "afterEach": false,
    "window": false,
    "location": false
  }
}
