$transparent: rgba(255, 255, 255, 0);
$weightTurquoise: #02bfa7;
$weightCherry: #e21f64;

$backgroundWhite: #ffffff;
$borderLight: #e1e1e1;
$textDark: #474747;
$textLight: #818181;
$errorRed: #e21f64;
$disabledGray: #818181;

$testingBlue: #133799;
