.dashboard {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.leftColumn {
  min-width: 20%;
  margin-right: 16px;
}

.rightColumn {
  margin-top: 80px;
  width: calc(80% - 16px);
  max-width: calc(80% - 16px);
}

@media screen and (max-width: 600px) {
  .dashboard {
    margin-top: 16px;
    flex-direction: column-reverse;
  }

  .rightColumn {
    width: 100vw;
    margin: 0;
  }

  .leftColumn {
    margin: 0;
  }
}
