@import './common/variables.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: $textDark;
}

body {
  background-color: $backgroundWhite;
  margin: 0
}

.app {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  > .central-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    background-color: $backgroundWhite;
    width: 100%;
  }
}

canvas {
  height: 100%;
}


@import './screens/main-dashboard.scss';
