@import './common/variables.scss';
@import './screens/main-dashboard.scss';

body {
  background-color: $backgroundColor;
  margin: 0
}

.app {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  > .header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: lightblue;
    padding: 0 32px;
    margin: 0;
    top: 0;
  }

  > .central-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px;
    background-color: lightcyan;
    width: 100%;
  }
}
