@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import './common/variables.scss';

html {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColor;
  margin: 0
}

.app {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  > .central-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px;
    background-color: $backgroundColor;
    width: 100%;
  }
}


@import './screens/main-dashboard.scss';
@import './header.scss';
