.main-dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: space-between;

  > .weight-management-panel {
    flex: 2;
    height: 3000px;
  }

  > .default-charts-panel {
    flex: 1;
    height: 900px;
  }
}
