@import "../../styles/common/variables";
@import "../../styles/common/links";

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: $backgroundWhite;
  padding: 0 32px;
  margin: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 0 2px 4px $borderLight;
}

.headerContent {
  margin: auto;
  max-width: 1600px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  color: $weightTurquoise;
}

.menu {
  display: flex;
  list-style: none;
}

.menuItem {
  padding: 0 8px;
}

.menuLink {
  @extend .basicLink;
}
